.messi {
  color :rgb(183, 0, 255) ;
  font-size: larger;
}
.neymar{
  color: rgb(162, 0, 255) ;
  font-size: larger;
}
.cardtotal{
  display: flex;

}
.mbape{
  color:rgb(153, 0, 255);
  font-size: larger;
}